<launch>
  <node name="planner_node" pkg="planner" type="planner_node" />
  
  <node name="movement" pkg="aemrick_lab2" type="lab2.py" />
 
  <node name="helper" pkg="lab4" type="lab4.py" />

  <node name="rviz" pkg="rviz" type="rviz" />

  <param name="minimumScore" value="100" />

  <param name="angularUpdate" value="0.1" />


</launch>