<launch>
  <node name="planner_node" pkg="planner" type="planner_node" output="screen"/>
  
  <node name="movement" pkg="aemrick_lab2" type="lab2.py" output="screen" />
 
  <node name="helper" pkg="lab4" type="lab4.py" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" />

  <param name="minimumScore" value="10000" />

  <param name="angularUpdate" value="0.04" />


</launch>